.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  padding: 20px 20px 80px 20px;
}

.outerContainer {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.userSidebar {
  width: 40%;
  background-color: #fff;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.onlineFriends,
.groupChats {
  margin-bottom: 20px;
}

.onlineFriends h3,
.groupChats h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #5271ff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.onlineFriends h3:last-child {
  margin-bottom: 0;
}

.groupChats h3:last-child {
  margin-bottom: 0;
}

.friend,
.group {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.friend img,
.group img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.friend div,
.group div {
  display: flex;
  flex-direction: column;
}

.friend span,
.group span {
  font-weight: bold;
}

.friend small,
.group small {
  color: #777;
  font-size: 0.8em;
}

.statusOnline {
  width: 10px;
  height: 10px;
  background-color: #44b700;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.chatBox {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.chatHeader {
  background-color: #5271ff;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuIcon,
.searchIcon {
  font-size: 20px;
  cursor: pointer;
}

.chatMessages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.messageContent {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 10px;
  flex: 1;
}

.messageTimestamp {
  font-size: 0.8em;
  color: #777;
  margin-left: 10px;
}

.chatInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.messageInput {
  flex: 1;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  height: 40px;
  resize: none;
}

.sendButton {
  background-color: #5271ff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallChatBox {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.smallChatBox .chatHeader {
  background-color: #5271ff;
  color: white;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smallChatBox .chatMessages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.smallChatBox .chatInput {
  display: flex;
  padding: 10px;
  width: 100%;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.smallChatBox .messageInput {
  flex: 1;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  height: 40px;
  resize: none;
}

.smallChatBox .sendButton {
  background-color: #5271ff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
